/* src/index.css */

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100dvh;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

button {
  background-color: darkmagenta;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 0.75rem;
  min-height: 2rem;
  min-width: 2rem;
}

button:hover {
  background-color: purple;
  color: white;
}

.container {
  max-width: 768px;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
}
